*{
    padding: 0;
    margin: 0;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
}
.btn{
    display: flex;
    justify-content: space-around;
}
#Upload{
    width: 100px;
    height: 30px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
}
#area{
    border-radius: 5px;
    background-color: white;
}
.title-field{
    border-radius: 5px;
    margin-bottom: 20px;
    width: 28%;
    height: 30px;
    padding-left: 20px;   
}
.contain{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    margin-top: 20px;

}