*{
    padding: 0;
    margin: 0;
}

html ::-webkit-scrollbar{
    display: none;
}
body{
    background: url(Back.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
nav{
    height: 60px;
    position: fixed;
    width: 100%;

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);   

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-left: 20px;

}
.create{
    padding: 5px 10px;
    color: white;
    border: 1px solid white;
}
.create a{
    text-decoration: none;
    color: white;
}

.view{
    padding: 5px 10px;
    color: white;
    border: 1px solid white;
}

.view a{
    text-decoration: none;
    color: white;
}

.profile{
    background-color: transparent;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.profile img{
    height: 22px;
    width: 22px;
}
.logo{
    color: white;
}
.logout img{
    height: 25px;
    width: 25px;
}


.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}
.post{
    margin-top: 70px;
    width: 600px;
    padding: 20px 20px;
    box-shadow: -5px 0px 5px rgba(0, 0, 0, 0.1), 5px 0px 10px rgba(0, 0, 0, 0.2);
}
.user-{
    display: flex;
    justify-content: space-between;
}
.post p, .user-, .post_img{
    margin-bottom: 20px;
}

.post_img{
    height: 300px;
    width: 300px;
}
.title{
    font-size: 20px;
    font-family: serif;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 85px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 8px;
    z-index: 1;
  }
  .dropdown-content button{
    margin-bottom: 5px;
    width: 80px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 8px 16px;
    display: block;
    text-decoration: none;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  