*{
    padding: 0;
    margin: 0;
}
body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(BG-2.jpg);
    background-size: cover;
}

.card{
    margin-top: 5%;
    width: 400px;
    height: 450px;

    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.22);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.card h2{
    font-family: sans-serif;
    color: white;
    font-size: 30px;
    margin-top: 30px;
}
.card p{
    color: #cacaca;
    font-family: sans-serif;
    font-size: 15px
}
.card-headers{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


#form_2{
    width: 80%;
}
#form_2 .inpt{
    width: 100%;
    height: 35px;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding-left: 10px;
}

#form_2 .inpt:focus{
    color: white;
    padding-left: 10px;
}
.card p a{
    color:#2F374E;
}
#form_2 input::placeholder {
    padding-left: 10px;
    color: white;
    
}
#Login{
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    border: none;
    cursor: pointer;
}

#signUp{
    color: white;
    background-color: black;
    border-radius: 5px;
    width: 100%;
    height: 35px;
    border: none;
    cursor: pointer;
}