body{
    background-image: url(./BG.png);
    color: #fff;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
html ::-webkit-scrollbar{
  display: none;
}

section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
}
.hidden{
    opacity: 0;
    transition: all 1s;
    filter: blpxur(5px);
    transform: translateX(-100%);
}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

/* Nav Bar */

nav{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);   
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo{
    color: white;
    font-size: 20px;
}
.button{
    margin-right: 50px;
    color: #fff;
    text-decoration: none;
    border:1px white solid;
    padding: 5px 10px;

}
.link{
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  width: 40%;
}
.link a{
  text-decoration: none; 
  color: white;
}
.link button{
  color: white;
  background-color: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

/* Section */

#first-sec {
    align-items: flex-start;
    margin-left: 50px;
}

#first-sec h1{
 font-size: 60px;
}
#first-sec p{
    font-size: 20px;
}

.second-sec{
    width: 90%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* From https://css.glass */
    /* background: rgba(255, 255, 255, 0.42);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(17.8px);
    -webkit-backdrop-filter: blur(17.8px);
    border: 1px solid rgba(255, 255, 255, 0.67); */

    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);   

    padding: 5px 30px;
}

/* About Us */

@import url("https://fonts.googleapis.com/css?family=Poppins");

.card {
  border-radius: 16px;
  width: 360px;
  height: 360px;
  background: url(https://picsum.photos/360/360?image=0);
  position: relative;
  overflow: hidden;
  box-shadow: 0 5px 50px rgba(0, 0, 0, 0.85);
}
.card:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: rgba(0, 0, 0, 0.92);
}
.card .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.card .img span {
  width: 25%;
  height: 100%;
  background: url(./Tshw.jpg);
  transition: 0.5s;
  background-size: cover;
}
.card .img span:nth-child(1) {
  background-position: 0;
  transition-delay: 0;
}
.card .img span:nth-child(2) {
  background-position: 33.33333%;
  transition-delay: 0.1s;
}
.card .img span:nth-child(3) {
  background-position: 66.66666%;
  transition-delay: 0.2s;
}
.card .img span:nth-child(4) {
  background-position: 100%;
  transition-delay: 0.3s;
}

.card:hover .img > span {
  transform: translateY(-100%);
}
.card:hover .content {
  transform: translateY(0%);
  transition: 1s;
  transition-delay: 0.1s;
}

.content {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px 20px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
}

/* Owner Details and images */
.images{
    display: flex;
    justify-content: space-around;
}

/* About-us */
#about-us{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 30px;
}